.stage-container {
  padding: 20px;
}

.header {
  text-align: center;
}

.title {
  color: var(--mantine-color-gray-9);
  text-align: start;
}

.method-options {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: stretch;
}

.method-card {
  flex: 1;
  transition: all 0.2s ease;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.method-card.selected {
  border-color: var(--mantine-color-blue-5);
  box-shadow: 0 0 0 1px var(--mantine-color-blue-5);
  background-color: var(--mantine-color-blue-0);
}

.method-card.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.method-icon {
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.selected .method-icon {
  background-color: var(--mantine-color-blue-5);
  color: white;
}

.method-details {
  border-top: 1px solid var(--mantine-color-gray-2);
  padding-top: 16px;
}

.benefits-list {
  padding-left: 0px;
}

.benefits-list li {
  margin: 4px 0;
}

.method-note {
  border: none;
  background-color: rgba(var(--alert-color), 0.1);
}

.flow-card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.flow-diagram {
  padding: 24px;
  background-color: var(--mantine-color-gray-0);
  border-radius: 8px;
}

.flow-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-width: 100px;
}

.flow-step svg {
  color: var(--mantine-color-blue-6);
}

.flow-arrow {
  color: var(--mantine-color-gray-5);
}

.select-button {
  margin-top: 16px;
}
